::-webkit-scrollbar {
    width: clamp(6px, 0.6vw, 10px);
    height: clamp(6px, 0.6vw, 10px);
}

::-webkit-scrollbar-track {
    background: var(--background-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

:root {
    --primary-color: #009688;
    --secondary-color: #ff5722;
    --background-color: #ffffff;
    --text-color: #212121;
    --hover-color: #008dd3;
    --border-color: #b0bec5;
    --transition-speed: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--background-color);
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

strong {
    color: var(--secondary-color);
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

main {
    background-color: var(--background-color);
    color: var(--text-color);
    align-content: center;
    animation: fadeIn 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    flex-grow: 1;
}

.btn-primary {
    background-color: var(--primary-color);
    border: none;
    transition: background-color var(--transition-speed) ease;
    outline: none;
}

.btn-primary:hover {
    background-color: var(--secondary-color);
}

.form-control:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 0.25rem #ff562246;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

